.task-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task {
  display: flex;
  align-items: center;
  background: var(--Gray-700);
  padding: 1rem;
  border-radius: 6px;
  gap: 1rem;
}

.task button {
  background: transparent;
  border: none;
  color: var(--Purple);
  cursor: pointer;
}

.task.done button {
  color: var(--PurpleDark);
}

.task .content {
  display: flex;
  flex-direction: column;
}

.task strong {
  color: var(--Gray-100);
  font-weight: bold;
}

.task span {
  color: var(--Gray-300);
}